body{
    background-color: blueviolet;
}

.navbar121{
    background-color:rgb(180, 164, 164);
}

#header{
    height: 100px;
}

#inputDIV{
margin-left: 28%;
padding: 5px;
width: fit-content;

}

#input{
    height: 50px;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(180, 164, 164);
    border: none;
 }

 #suggestionList{
   width: 450px;
   margin-top: 2px;
   background-color:rgb(180, 164, 164);
   height: auto;
   max-height: 300px;
   /* padding: 5px; */
   border-radius: 5px;
   position: absolute;
   z-index: 1;
   border: 1px solid black;
   overflow-x: hidden;
   visibility: hidden;
   overflow-y: scroll;
   
 }

 #btn{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color:rgb(180, 164, 164);
 }

 #btn:hover{
    background-color: white;
 }

 #meals{
  padding: 10px;
  width: 80%;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 #my-fav-list{
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    margin-left: 50px;
   
 }
 .fav-list-background{
    background-color: rgb(185, 90, 90);
 }

 #searchByName{
    height: auto;
    width: 80%;
    margin: auto;
    
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .mycards{
    margin-top: 35px;
    background-color: rgb(254, 243, 126);
 }

 .card{
    box-shadow: 0px 0px 2px 3px black;
 }

 #meals-heading{
    color: black;
    margin-left: 36%;
 }

 .btn{
    background-color: rgb(180, 164, 164);
    margin-bottom: 4px;
 }

 .favbtn{
    height: 38px;
    width: auto;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(180, 164, 164);
    outline: none;
    border: none;
    
 }

 .btn:hover{
    background-color: white;
  }
 
 .favbtn:hover{
  background-color: white;
 } 

 .list:hover{
   background-color: rgb(146, 42, 42);

 }

 #suggestionList li{
   list-style: none;
 }
 .btn{
   color: black !important;
   border: none !important;
 }

 .modal-dialog{
   padding: 10px !important;
 }